<div class="grid-container">
  <div class="row">
    <div class="nav">
      <div class="header-links">
        <div class="nav_left">
          <a href="/"> SVJ Photography</a>
        </div>
        <div class="nav_right">
          <%= link_to "Home", root_path %>
          <%= link_to "Gallery", gallery_path %>
          <%= link_to "Scot", scot_path %>
          <%= link_to "Vlad", vlad_path %>
          <%= link_to "Justin", justin_path %>
          <%= link_to "Contact", contact_path %>
        </div>  
      </div>  
    </div>  
  </div>  
</div>  